{% extends 'form.row.twig' %}
{% block field %}
    <input size="47" type="{{ type }}" name="{{ name }}" class="{{ styleClass }}" value="{{ value }}"/>
{% endblock %}
{% block row_field %}
    {% if _type == 'LIST' %}
        <a href="{{ link }}" target="_blank">{{ value }}</a>
    {% endif %}
{% endblock %}